<h2>User Info</h2>
<%= image_tag user.get_profile_image(100,100) %>
<table class="table">
  <tr>
    <th>name</th>
    <th><%= user.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= user.introduction %></th>
  </tr>
</table>

<div class='row'>
  <div class='col-md-12'>
    <%= link_to edit_user_path(user) do %>
    <button type="button" class="btn btn-outline-secondary btn-block">
      <i class="fa-solid fa-user-gear"></i>
    </button>
    <% end %>
  </div>
</div>